
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


header {
    background-color: #643030;
    color: white;
    text-align: center;
    padding: 10px;
}


.sobre-a-loja {
    background-color: #f4f4f4;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.imagem-loja img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}


.produtos {
    padding: 20px;
    background-color: #fff;
}

.produto {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.produto img {
    max-width: 40%;
    height: auto;
    margin-bottom: 10px;
}

button {
    background-color: #643030;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}


@media screen and (max-width: 768px) {
    .container {
        padding: 10px;
    }
    .produto {
        flex: 0 0 calc(50% - 20px);
    }
}
