*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header{
    background-color: rgb(0, 114, 89);
    color: white;
    padding: 10px;
}

.sobre-a-loja{
    background-color: whitesmoke;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
}

.conteudo-sobre{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.imagem-loja img{
    max-width: 100%;
    height: auto;
    margin-left: 0 auto;
}

.texto{
    max-width: 800px;
    margin-top: 20px;
}

.produtos{
    padding: 20px;
    background-color: whitesmoke;
}

.lista-produto{
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

.lista-produto li{
    flex: 0 0 calc(25% - 20px);
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.lista-produto li img{
    max-width: 100%;
    height: 100%;
    margin-bottom: 10px;
    display: block;
    margin:10px;
}

.lista-produto button{
    background-color: rgb(0, 114, 89);
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.lista-produto button:hover{
    background-color: rgb(11, 184, 146);
}


@media screen and (max-width: 768px) {
    .lista-produto li {
        flex: 0 0 calc(50% - 20px);
    }
}

@media screen and (max-width: 480px) {
    .lista-produto li {
        flex: 0 0 calc(100% - 20px);
    }
}

@media screen and (max-width: 768px) {
    .sobre-a-loja {
        padding: 20px;
    }

    .conteudo-sobre {
        flex-direction: column-reverse;
    }

    .imagem-loja img {
        max-width: 100%;
        margin-bottom: 20px;
    }
}